$ORIGIN	{{ item }}.
$TTL	3600

@			SOA	ns1.talideon.com. k.stereochro.me. (
				{{ item | next_serial }} ; serial
				6h ; refresh
				1h ; retry
				1w ; expire
				1d ; minimum
				)
			NS	ns1.talideon.com.
			NS	ns2.talideon.com.
			NS	ns3.talideon.com.
			NS	ns4.talideon.com.
			A	{{ haddrs[hosts.get(item, hroles.web)].ipv4 }}
			AAAA	{{ haddrs[hosts.get(item, hroles.web)].ipv6 }}
{% if item in mail_zones %}
			MX	40 {{ mailserver }}.
			TXT	"{{ spf }}"
			SPF	"{{ spf }}"
{% else %}
			TXT	"v=spf1 -all"
			SPF	"v=spf1 -all"
{% endif %}
			CAA	0 issue "letsencrypt.org"

www			CNAME	@
{% for cname, dest in zone_cnames.get(item, {}).items() %}
{{ cname }}		CNAME	{{ dest }}
{% endfor %}

{% if item in mail_zones %}
; Services
_imap._tcp		SRV	0 1 143  {{ mailserver }}.
_imaps._tcp		SRV	0 1 993  {{ mailserver }}.
_submission._tcp	SRV	0 1 587  {{ mailserver }}.
_sieve._tcp		SRV	0 1 4190 {{ mailserver }}.
{% endif %}

; vim:set filetype=dns ts=8 sw=8 sts=8 noet:
