{% set item = "talideon.com" %}
{% extends "basic.zone.j2" %}

{% block extra %}
mail			A	{{ haddrs[hroles.mail].ipv4 }}
mail			AAAA	{{ haddrs[hroles.mail].ipv6 }}

; Nameservers
{% for host in nameservers %}
ns{{ loop.index + 1 }}	A	{{ haddrs[host].ipv4 }}
ns{{ loop.index + 1 }}	AAAA	{{ haddrs[host].ipv6 }}
{% endfor %}

; DANE
; According to https://tools.ietf.org/html/rfc7672, for SMTP, we can't use
; PKIX-EE (1) and have to use DANE-EE (3) as the whole certificate chain isn't
; validated for opportunistic DANE TLS.
; Also see:
; https://community.letsencrypt.org/t/please-avoid-3-0-1-and-3-0-2-dane-tlsa-records-with-le-certificates/7022
; https://www.internetsociety.org/deploy360/blog/2016/01/lets-encrypt-certificates-for-mail-servers-and-dane-part-1-of-2/
; This contains a good explanation of the flags, for when I inevitably forget:
; https://netfuture.ch/2013/06/how-to-create-dnssec-dane-tlsa-entries/
_25._tcp.mail		CNAME	_dane ; SMTP
_143._tcp.mail		CNAME	_dane ; IMAP + STARTTLS
_587._tcp.mail		CNAME	_dane ; SMTP Submission
_993._tcp.mail		CNAME	_dane ; IMAPS
_4190._tcp.mail		CNAME	_dane ; Sieve

_dane			TLSA	3 1 1 49fc982789dbfdc4edc07b22902f84b9bd5e2a3ef1b5f19fd91ba4ca7b664b34
{% endblock %}
; vim:set filetype=dns ts=8 sw=8 sts=8 noet:
