pattern:
	name: primary
	zonefile: zones/%s.zone
{% for name, fields in haddrs.items() %}

{% if fields.secondary | default(False) %}
	# {{ name }}
{% if 'ipv6' in fields %}
	notify: {{ fields.ipv6 }} {{ fields.get('tsig', 'NOKEY') }}
	provide-xfr: {{ fields.ipv6 }} {{ fields.get('tsig', 'NOKEY') }}
{% endif %}
{% if 'ipv4' in fields %}
	notify: {{ fields.ipv4 }} {{ fields.get('tsig', 'NOKEY') }}
	provide-xfr: {{ fields.ipv4 }} {{ fields.get('tsig', 'NOKEY') }}
{% endif %}
{% endif %}
{% endfor %}

{% for zone in zones %}
zone:
	name: "{{ zone }}"
	include-pattern: primary
{% endfor %}

{% for name, fields in secondary_patterns.items() %}
pattern:
	name: {{ name }}
	zonefile: zones:/%s.zone
{% if 'ipv6' in fields %}
	allow-notify: {{ fields.ipv6 }} {{ fields.get('tsig', 'NOKEY') }}
	request-xfr: {{ fields.ipv6 }} {{ fields.get('tsig', 'NOKEY') }}
{% endif %}
{% if 'ipv4' in fields %}
	allow-notify: {{ fields.ipv4 }} {{ fields.get('tsig', 'NOKEY') }}
	request-xfr: {{ fields.ipv4 }} {{ fields.get('tsig', 'NOKEY') }}
{% endif %}
{% endfor %}

{% for zone, pattern in secondary_zones.items() %}
zone:
	name: {{ zone }}
	include-pattern: {{ pattern }}
{% endfor %}
