pattern:
	name: primary
	zonefile: zones/%s.zone
{% for name, fields in haddrs.items() %}

{% if fields.secondary | default(False) %}
	# {{ name }}
{% if 'ipv6' in fields %}
	notify: {{ fields.ipv6 }} {{ fields.get('tsig', 'NOKEY') }}
{% elif 'ipv4' in fields %}
	notify: {{ fields.ipv4 }} {{ fields.get('tsig', 'NOKEY') }}
{% endif %}
{% if 'ipv6' in fields %}
	provide-xfr: {{ fields.ipv6 }} {{ fields.get('tsig', 'NOKEY') }}
{% endif %}
{% if 'ipv4' in fields %}
	provide-xfr: {{ fields.ipv4 }} {{ fields.get('tsig', 'NOKEY') }}
{% endif %}
{% endif %}
{% endfor %}

zone:
	name: "talideon.com"
	include-pattern: primary
{% for zone in zones %}
zone:
	name: "{{ zone }}"
	include-pattern: primary
{% endfor %}
