pattern:
	name: secondary
	zonefile: zones/%s.zone

{% for host in groups['primaries'] %}
{% if 'ipv6' in haddrs[host] %}
	allow-notify: {{ haddrs[host].ipv6 }} {{ haddrs[host].get('tsig', 'NOKEY') }}
	request-xfr: {{ haddrs[host].ipv6 }} {{ haddrs[host].get('tsig', 'NOKEY') }}
{% endif %}
{% if 'ipv4' in haddrs[host] %}
	allow-notify: {{ haddrs[host].ipv4 }} {{ haddrs[host].get('tsig', 'NOKEY') }}
	request-xfr: {{ haddrs[host].ipv4 }} {{ haddrs[host].get('tsig', 'NOKEY') }}
{% endif %}
{% endfor %}

zone:
	name: "talideon.com"
	include-pattern: secondary
{% for zone in zones %}
zone:
	name: "{{ zone }}"
	include-pattern: secondary
{% endfor %}
