pattern:
	name: secondary
	zonefile: zones/%s.zone

{% for host in groups['primaries'] %}
{% if 'ipv6' in haddrs[host] %}
	notify: {{ haddrs[host].ipv6 }} {{ haddrs[host].get('tsig', 'NOKEY') }}
	provide-xfr: {{ haddrs[host].ipv6 }} {{ haddrs[host].get('tsig', 'NOKEY') }}
{% endif %}
{% if 'ipv4' in haddrs[host] %}
	notify: {{ haddrs[host].ipv4 }} {{ haddrs[host].get('tsig', 'NOKEY') }}
	provide-xfr: {{ haddrs[host].ipv4 }} {{ haddrs[host].get('tsig', 'NOKEY') }}
{% endif %}
{% endfor %}

{% for zone in zones %}
zone:
	name: "{{ zone }}"
	include-pattern: secondary
{% endfor %}
