$ORIGIN	{{ item.zone }}.
$TTL	3600

@			SOA	ns4.talideon.com. k.stereochro.me. (
				{{ item.zone | next_serial }} ; serial
				6h ; refresh
				1h ; retry
				1w ; expire
				1d ; minimum
				)
;			NS	ns1.talideon.com.
;			NS	ns2.talideon.com.
			NS	ns3.talideon.com.
			NS	ns4.talideon.com.
			A	{{ haddrs[hroles.web].ipv4 }}
			AAAA	{{ haddrs[hroles.web].ipv6 }}
{% if item.get('mail') %}
			MX	40 {{ mailserver }}.
			TXT	{{ spf | quote }}
			SPF	{{ spf | quote }}
{% else %}
			TXT	"v=spf1 -all"
			SPF	"v=spf1 -all"
{% endif %}
			CAA	0 issue "letsencrypt.org"

www			CNAME	@
{% for cname in item.get('cnames', ()) %}
{{ cname }}		CNAME	@
{% endfor %}


{% if item.get('mail') %}
; Services
_submission._tcp	SRV	0 1 587  {{ mailserver }}.
_sieve._tcp		SRV	0 1 4190 {{ mailserver }}.
{% endif %}

; vim:set filetype=dns ts=8 sw=8 sts=8 noet:
