$ORIGIN	{{ item.zone }}.
$TTL	3600

@			SOA	ns4.talideon.com. k.stereochro.me. (
				{{ item.zone | next_serial }} ; serial
				6h ; refresh
				1h ; retry
				1w ; expire
				1d ; minimum
				)
;			NS	ns1.talideon.com.
;			NS	ns2.talideon.com.
			NS	ns3.talideon.com.
			NS	ns4.talideon.com.
			A	45.55.149.240
			AAAA	2604:a880:800:10::716:6001
{% if item.get('mail') %}
			MX	40 mail.talideon.com.
			TXT	"v=spf1 a mx -all"
			SPF	"v=spf1 a mx -all"
{% else %}
			TXT	"v=spf1 -all"
			SPF	"v=spf1 -all"
{% endif %}
			CAA	0 issue "letsencrypt.org"

www			CNAME	@
{% for cname in item.get('cnames', ()) %}
{{ cname }}		CNAME	@
{% endfor %}


{% if item.get('mail') %}
; Services
_submission._tcp	SRV	0 1 587  mail.talideon.com.
_sieve._tcp		SRV	0 1 4190 mail.talideon.com.
{% endif %}

; vim:set filetype=dns ts=8 sw=8 sts=8 noet:
