%ORIGIN	{{ zone }}.
$TTL	3600

@			SOA	ns4.talideon.com. k.stereochro.me. (
				{{ serial }} ; serial
				6h ; refresh
				1h ; retry
				1w ; expire
				1d ; minimum
				)
;			NS	ns1.talideon.com.
			NS	ns2.talideon.com.
			NS	ns3.talideon.com.
			NS	ns4.talideon.com.
			A	45.55.149.240
			AAAA	2604:a880:800:10::716:6001
			TXT	"v=spf1 -all"
			SPF	"v=spf1 -all"

www			CNAME	@

; vim:set filetype=dns ts=8 sw=8 sts=8 noet:
