pattern:
	name: default
	zonefile: zones/%s.zone
{% for name, fields in haddrs.iteritems() %}

	# {{ name }}
{% if 'ipv6' in fields %}
	notify: {{ fields.ipv6 }} {{ fields.get('tsig', 'NOKEY') }}
	provide-xfr: {{ fields.ipv6 }} {{ fields.get('tsig', 'NOKEY') }}
{% endif %}
{% if 'ipv4' in fields %}
	notify: {{ fields.ipv4 }} {{ fields.get('tsig', 'NOKEY') }}
	provide-xfr: {{ fields.ipv4 }} {{ fields.get('tsig', 'NOKEY') }}
{% endif %}
{% endfor %}

{% for zone in zones %}
zone:
	name: "{{ zone }}"
	include-pattern: default
{% endfor %}
