$ORIGIN	stereochro.me.
$TTL	3600

@			SOA	ns4.talideon.com. k.stereochro.me. (
				2017082300 ; serial
				6h         ; refresh
				1h         ; retry
				1w         ; expire
				1d         ; minimum
				)
;			NS	ns1.talideon.com.
;			NS	ns2.talideon.com.
			NS	ns3.talideon.com.
			NS	ns4.talideon.com.
			A	{{ haddrs[hroles.web].ipv4 }}
			AAAA	{{ haddrs[hroles.web].ipv6 }}
			MX	40 {{ mailserver }}.
			TXT	{{ spf | quote }}
			SPF	{{ spf | quote }}
			CAA	0 issue "letsencrypt.org"

www			CNAME	@

default._domainkey	TXT	"v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDCBUE1JLq4qpkkTKOtRqKQmKgJB0d+5B+kq1jW1ekZScz64UBhs2lF1Rmj3PWzcerSszwLvaZu329ynHIbEJT8Utk9v3Mt55Z7Svzv7Fub/jLIiDsQjlUhtpBzjB0P2gJtia53HmAO44C1eZdK+fU1Gqst3hcPRX9N/GM9umWElQIDAQAB"
_adsp._domainkey	TXT	"dkim=unknown"

; Services
_imap._tcp		SRV	0 1 143  {{ mailserver }}.
_imaps._tcp		SRV	0 1 993  {{ mailserver }}.
_submission._tcp	SRV	0 1 587  {{ mailserver }}.
_sieve._tcp		SRV	0 1 4190 {{ mailserver }}.
_xmpp-client._tcp	SRV	0 1 5222 stereochro.me.
_xmpp-server._tcp	SRV	0 1 5269 stereochro.me.

; DANE
; See notes in the zonefile for talideon.com.
_dane			TLSA	2 1 1 32890ffa3e81a780b6b3ed5b7cd7f211b0d31673b31889dd18505cab417b3e95
_dane			TLSA	3 1 1 32890ffa3e81a780b6b3ed5b7cd7f211b0d31673b31889dd18505cab417b3e95
_443._tcp		CNAME	_dane
_443._tcp		CNAME	_dane
_443._tcp.www		CNAME	_dane
_5222._tcp		CNAME	_dane
_5269._tcp		CNAME	_dane

; vim:set filetype=dns ts=8 sw=8 sts=8 noet:
