$ORIGIN	talideon.com.
$TTL	3600

@			SOA	ns4 k.stereochro.me. (
				2017082300 ; serial
				6h         ; refresh
				1h         ; retry
				1w         ; expire
				1d         ; minimum
				)
			NS	ns1
			NS	ns2
			NS	ns3
			NS	ns4
			A	{{ haddrs[hroles.web].ipv4 }}
			AAAA	{{ haddrs[hroles.web].ipv6 }}
			MX	40 {{ mailserver }}.
			TXT	"{{ spf }}"
			SPF	"{{ spf }}"
			CAA	0 issue "letsencrypt.org"

mail			A	{{ haddrs[hroles.mail].ipv4 }}
mail			AAAA	{{ haddrs[hroles.mail].ipv6 }}

; Nameservers
ns1			A	{{ haddrs.lir.ipv4 }}
ns1			AAAA	{{ haddrs.lir.ipv6 }}
ns2			A	{{ haddrs.manann.ipv4 }}
ns2			AAAA	{{ haddrs.manann.ipv6 }}
ns3			A	{{ haddrs.blacknight.ipv4 }}
ns3			AAAA	{{ haddrs.blacknight.ipv6 }}
ns4			A	{{ haddrs.cian.ipv4 }}
ns4			AAAA	{{ haddrs.cian.ipv6 }}

; Servers.
{% for name in ['lir', 'cian', 'manann'] %}
{{ name }}		A	{{ haddrs[name].ipv4 }}
{{ name }}		AAAA	{{ haddrs[name].ipv6 }}
{{ name }}		TXT	"{{ spf }}"
{{ name }}		SPF	"{{ spf }}"
{% endfor %}

cian			SSHFP	1 1 b3c27d0efecee20d4c00e3f5f3cd2a61ca02ad82
cian			SSHFP	1 2 7ad47957fbb90f54a299f29efbde82066f64744cb5c50e106af7da0d082821cf
cian			SSHFP	2 1 9d3b92fd93e5f8803c2a889d73806a84bfc7d670
cian			SSHFP	2 2 f8ef86bb095339039496b875ae2dfc8a27bb6b0f8d32f40990911d3d8e935c1d
cian			SSHFP	3 1 2f1baf6bf8d66c0615a205b7628475a419563f4b
cian			SSHFP	3 2 21ec08609d41e94cad66a2cc06b8b47bb753a2400aeba2221ed9938979f6436b

; Aliases.
{% for cname in zone_cnames.get(item, ()) %}
{{ cname }}		CNAME	@
{% endfor %}

; Services
_imap._tcp		SRV	0 1 143  {{ mailserver }}.
_imaps._tcp		SRV	0 1 993  {{ mailserver }}.
_submission._tcp	SRV	0 1 587  {{ mailserver }}.
_sieve._tcp		SRV	0 1 4190 {{ mailserver }}.
_xmpp-client._tcp	SRV	0 1 5222 talideon.com.
_xmpp-server._tcp	SRV	0 1 5269 talideon.com.

; DANE
; According to https://tools.ietf.org/html/rfc7672, for SMTP, we can't use
; PKIX-EE (1) and have to use DANE-EE (3) as the whole certificate chain isn't
; validated for opportunistic DANE TLS.
; Also see:
; https://community.letsencrypt.org/t/please-avoid-3-0-1-and-3-0-2-dane-tlsa-records-with-le-certificates/7022
; https://www.internetsociety.org/deploy360/blog/2016/01/lets-encrypt-certificates-for-mail-servers-and-dane-part-1-of-2/
; This contains a good explanation of the flags, for when I inevitably forget:
; https://netfuture.ch/2013/06/how-to-create-dnssec-dane-tlsa-entries/
_25._tcp.mail		CNAME	_dane ; SMTP
_143._tcp.mail		CNAME	_dane ; IMAP + STARTTLS
_443._tcp		CNAME	_dane ; HTTPS (talideon.com)
_443._tcp.www		CNAME	_dane ; HTTPS (www.talideon.com)
_443._tcp.mail		CNAME	_dane ; HTTPS (mail.talideon.com)
_587._tcp.mail		CNAME	_dane ; SMTP Submission
_993._tcp.mail		CNAME	_dane ; IMAPS
_4190._tcp.mail		CNAME	_dane ; Sieve
_5222._tcp		CNAME	_dane ; XMPP Client
_5269._tcp		CNAME	_dane ; XMPP Server

_dane			TLSA	3 1 1 86432ac4f266b7d59c686b58bbf66ebfad42b984b90d0653b6faabcb98f344b2
_dane			TLSA	2 1 1 60b87575447dcba2a36b7d11ac09fb24a9db406fee12d2cc90180517616e8a18

; vim:set filetype=dns ts=8 sw=8 sts=8 noet:
